<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.printorialimited">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Printorialimited">
        <activity
            android:name=".Stickers.Stickers"
            android:exported="true" />
        <activity
            android:name=".Personalised.Personlised"
            android:exported="true" />
        <activity
            android:name=".Laser.Laser"
            android:exported="true" />
        <activity
            android:name=".Digital.Digital"
            android:exported="true" />
        <activity
            android:name=".Boards.Boards"
            android:exported="true" />
        <activity
            android:name=".Banners.Banners"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>